<div class="container">
  <h1 class="header">Contacts</h1>
  <form [formGroup]="emailForm" (ngSubmit)="submitForm()">
    <div formArrayName="emails">
      <div *ngFor="let emailGroup of emailControls; let i = index" [formGroupName]="i" class="email-row">
        <div class="input-container">
          <input type="text" formControlName="name" placeholder="Name {{ i + 1 }}" />
        </div>
        <div class="input-container">
          <input type="email" formControlName="email" placeholder="Email address {{ i + 1 }}" />
        </div>
        <button type="button" (click)="removeEmail(i)" *ngIf="emailControls.length > 1" class="remove-button">Remove</button>
      </div>
    </div>
    <button type="button" (click)="addEmail()">Add Contact</button>
    <button type="submit" [disabled]="!emailForm.valid">Submit</button>
  </form>
</div>
